@model Vidly.Models.Movie
@{
    ViewBag.Title = "MovieDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>
        Genre: @Model.GenreType.Name
    </li>
    <li>
        @if (null != @Model.ReleaseDate.Value)
        {
            <span>Release Date:</span> @Model.ReleaseDate.Value.ToString("dddd, dd MMMM yyyy")
        }
    </li>
    <li>
        @if (null != @Model.DateAdded.Value)
        {
            <span>Date Added:</span> @Model.DateAdded.Value.ToString("dddd, dd MMMM yyyy")
        }
    </li>
    <li>
        Stock nos.: @Model.Stock
    </li>


</ul>
